<div>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-light {{home_link}}" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light {{yugioh_link}}" href="/yugioh">Yu-Gi-Oh Database</a></li>
    </ul>
</div>