<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adiulay's Official Website</title>
        <link rel="stylesheet" type="text/css" href="css/background.css">
    </head>
    <body class="container">

        <h1 class="header">Welcome to Adiulay's Website</h1>

        <div class="entries">

<!--            <h1>Welcome to Adiulay's Website</h1>-->
            <p>Pick any links to get accessed to:</p>

            <div>
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a class="{{yugioh_link}}" href="/yugioh">Yu-Gi-Oh Database</a></li>
                </ul>
            </div>

        </div>

    </body>
</html>