<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adiulay's Official Website</title>
        <link rel="stylesheet" type="text/css" href="stylesheet/background.css">
    </head>
    <body class="container">
        <div>

            <h1>Welcome to Adiulay's Website</h1>
            <p>Pick any links to get accessed to.</p>

            <div class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/yugioh">Yu-Gi-Oh Database</a>
            </div>

        </div>

    </body>
</html>