<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adiulay's Official Website</title>
<!--        <link rel="stylesheet" type="text/css" href="css/background.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">

        <h1 class="header">Welcome to Adiulay's Website</h1>

        <div class="entries">

<!--            <h1>Welcome to Adiulay's Website</h1>-->
            <p>Pick any links to get accessed to:</p>

            {{> navbar}}
<!--            <div>-->
<!--                <ul class="nav">-->
<!--                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link {{yugioh_link}}" href="/yugioh">Yu-Gi-Oh Database</a></li>-->
<!--                </ul>-->
<!--            </div>-->

        </div>
        {{> bootstrap_js}}
    </body>
</html>