<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>YuGiOh Database</title>
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container-fluid">
    {{> navbar}}

    <div class="row">
        <div class="col text-center mb-5">
            <h1>YuGiOh Database</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form class="text-right" method="post" action="/yugioh/YGOspecific">
                <label>
                    <span>Specific Card Name: </span>
                    <input type="text" name="specific" placeholder="Enter card name" required>
                    <input type="submit" class="button" value="Get Specific Card">
                </label>
            </form>
        </div>

        <div class="col">
            <form method="post" action="/yugioh/YGOgeneral">
                <label>
                    <span>General Card Name: </span>
                    <input type="text" name="general" placeholder="Enter card name" required>
                    <input type="submit" class="button" value="Get Card">
                </label>
            </form>
        </div>
    </div>

    {{#if main}}
        <div class="row mt-2">
            <div class="col text-center">
                {{#if error}}
                    {{#each show_card}}
                        <a href="/yugioh/card_info/{{this.id}}"><img src="{{this.image}}" width="300" height="441" alt="YuGiOh_Card"></a>
                    {{/each}}
                {{else}}
                    <span>Card is not found in the database, try something else.</span>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{> bootstrap_js}}
</body>
</html>