body {
    background-color: black;
    color: white;
    font-family: "Verdana", Geneva, sans-serif;
}

.active {
    background-color: red;
    color: white;
}

.header {
    display: grid;
    font-size: xx-large;
    grid-column: 3;
    grid-row: 1;
    justify-items: center;
    text-align: center;

}

.button {
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial, sans-serif;
    /*font-size: 10px;*/
    font-weight:bold;
    padding: 0 10px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    grid-template-rows: 1fr auto;
}

