body {
    background-color: black;
    color: white;
    font-family: "Verdana", Geneva, sans-serif;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.active {
    background-color: red;
    color: white;
}

.header {
    display: grid;
    font-size: xx-large;
    grid-column: 2;
    grid-row: 1;
    justify-items: center;
    text-align: center;
}

.navbar {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    text-align: left;
}

.entries {
    display: grid;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
}

.child {
    grid-column: 2;
    grid-row: 4;
    grid-template-columns: repeat(4, 1fr);
}

.card_output {
    border-style: solid;
    border-color: red;
    display: block;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.button {
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial, sans-serif;
    /*font-size: 10px;*/
    font-weight:bold;
    padding: 0 10px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /*grid-template-rows: 1fr auto;*/
}

